extends main

block content
    title Okey bot
    h1
        a(href='/api/cmdlist') /cmdlist
    h3 command list
    br
    h1
        a(href='/api/stats') /stats
    h3 bot statistics
    br
    h1
        a(href='/api/channels') /channels
    h3 channel list