extends main

block content
    title Okey bot
    h1
        a(href='/api/cmdlist') /cmdlist
    p command list
    br
    h1
        a(href='/api/stats') /stats
    p bot statistics
    br
    h1
        a(href='/api/channels') /channels
    p channel list