extends main

block content
    title Okey bot
    div(class="container")
        h3 Add the bot
        p If you want the bot added in your channel or a channel that you moderate 
          br
          | you can type 
          strong ?addbot
          |  in the 
          a(href='https://www.twitch.tv/popout/okey_bot/chat?popout=') bot's chat
          br
          | or 
          strong
            | ?addbot 
            em + (channel name)
          |  for a channel that you moderate
          br
          | - alternatively you can contact 
          a(href='https://twitch.tv/8supa') 8Supa
          |  through a whisper
        hr
        h3 Remove the bot
        p
          | If you want the bot removed from your channel you can contact  
          a(href='https://twitch.tv/8supa') 8Supa 
          | via the 
          strong ?suggest 
          | command or via a whisper, or just ban the bot 4Head